// principales

$primary: #9356DC;
$secondary: #ff79DA;
$tertiary: #99E2D0;

// Utilitaires Couleurs
$grey: #CCC;
$neutral-grey : rgb(246, 243, 243);
$salmon-grey : rgb(221, 202, 223);
$dark-grey: rgb(117, 114, 114);
$back-white: white;


// Textes

$txt-font-clair: black;
$txt-font-sombre: white;
