@import './_variables';
@import './_mixins';
@import './_placeholders';

body{
    margin: 0;
}
p, h2, h3, h4{
    font-family: Roboto;
}
h1{
    font-family: Shrikhand;
}
*{
    margin: 0;
    padding: 0;
}
.flexcenter{
    @extend %flex-center;
}
.flexaround{
    @extend %flex-around;
}
.flexbetween{
    @extend %flex-between;
}
.flexstart{
    display: flex;
    justify-content: start;
    align-items: center;
}
p{
    font-size: large;
}
.header{        
    background: $grey;  
    .header__size{
        @extend %flex-center;   
        height: 70px;
    }    
    .header__logo{
        @extend %flex-center;
        background: $back-white;
    }
    .header__icone{ 
          
        margin-right: 15px;
    }

} 
.nav{
    background: $neutral-grey;
    height: 350px;
    .btn__nav{
        height: 60px;
        width: 250px;
        border-radius: 40px;
        color: $back-white;
        margin-top: 15px;
        background: linear-gradient(to bottom right, $secondary ,$primary);
        @extend %flex-center;
        
    }
    .nav__margin{
        margin-top: 30px;
        @extend %display-column;
    }
    .nav__aligntext{
        align-items: center;
        
    }
    
}
.marginlefttext{
    margin-left: 20px;
}
.sectionfunctioning{
    margin-top: 50px;
    .btnfunctioning{
        background-color: $grey;
        height: 90px;
        margin-right: 15px;
        border-radius: 25px;
        margin-top: 30px;
        @extend %flex-center;
        @extend %flex-start;       
    }
    
    .positioniconfunctioning{
        @extend %flex-center;
        margin-left: 40px;

    }
.colorbtnnumber3{
        background-color: $salmon-grey;
    }
.purplecircle{
        height: 25px;
        width: 25px;
        border-radius: 25px;
        background-color: $primary;
        position: relative;
        margin-left: -12px;
        color: $back-white;
        @extend %flex-center;
        
    
        
    .iconcolor{
          color: $dark-grey;
    }
}  
.iconshopcolor{
        color: $primary;
}
    
    
}
.boxshadow{
    box-shadow: 0 3px 8px 1px $dark-grey;
}
.sectionrestaurants{
    margin-top: 80px;
    background-color: $grey;
    width: 100%;
    position: absolute;
    .titlerestaurants{
        margin-top: 50px;   
        position: relative;
    }
    
}
.articlesectionrestaurants{
    margin-top: 30px;
    margin-right: 20px;
    height: 375px;
    background-color: $back-white;
    border-radius: 25px;
    
    .margintextarticlerestaurant{
    margin-left: 20px;
    margin-top: 20px;
    }
    .marginiconarticlerestaurant{
    margin-right: 40px;
    margin-top: 15px;
    }
    .marginparagraphearticlerestaurant{
    margin-top: 5px;
    }

}
.picturesrestaurants{
    background-size: cover;
    background-position: 50% 60%;
    width: 100%;
    height: 270px;
    border-radius: 25px 25px 0 0;
    }
.firstpicturerestaurants{
    background-image: url(./img/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.secondtpicturerestaurants{
    background-image: url(./img/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.thirdtpicturerestaurants{
    background-image: url(./img/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.fourthpicturerestaurants{
    background-image:url(./img/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.textx_large{
    font-size: x-large;
}

