@import './_variables';
@import './_mixins';
@import './_placeholders';

body{
    margin: 0;
}
p, h2, h3, h4{
    font-family: Roboto;
}
h1{
    font-family: Shrikhand;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.flexcenter{
    @extend %flex-center;
}
.flexaround{
    @extend %flex-around;
}
.flexbetween{
    @extend %flex-between;
}
.flexstart{
    @extend %flex-start;
}
p{
    font-size: large;
}
.header{        
    background: $grey;
      
    .header__size{
        @extend %flex-center;   
        height: 70px;
    }    
    .header__logo{
        @extend %flex-center;
        background: $back-white;
        width: 100%;
    }
    .header__icone{ 
          
        @include margin (0, 15px, 0, 0);
        
    }

}
.margin_logo{
    @include margin(-25px, 0, 25px, 0);
}
.arrow{
    @extend %flex-start;
    @include margin (40px, 0, 0, 40px);
}

.nav{
    background: $neutral-grey;
    height: 350px;
    .btn__nav{
        height: 60px;
        width: 250px;
        border-radius: 40px;
        color: $back-white;
        @include margin (15px, 0, 0, 0);
        background: linear-gradient(to bottom right, $secondary ,$primary);
        @extend %flex-center;
        @include box-shadow ($grey)
        
    }
    .nav__margin{   
        @include margin(30px, 0, 0, 0);
        @extend %display-column;
    }
    .nav__aligntext{
        align-items: center;
        
    }
    
}
.marginlefttext{
    @include margin(0, 0, 0, 20px)
}
.sectionfunctioning{
    @include margin(50px, 0, 0, 0);
    .btnfunctioning{
        background-color: $neutral-grey;
        height: 90px;
        margin-right: 15px;
        border-radius: 25px;
        margin-top: 30px;
        @extend %flex-center;
        @extend %flex-start;
        @include margin(30px, 20px, 0, 20px);
        @include box-shadow($grey)       
    }
    
    .positioniconfunctioning{
        @extend %flex-center;
        @include margin(0, 0, 0, 40px);

    }
.colorbtnnumber3{
        background-color: $salmon-grey;
    }
.purplecircle{
        height: 25px;
        width: 25px;
        border-radius: 25px;
        background-color: $primary;
        position: relative;
        margin-left: -12px;
        color: $back-white;
        @extend %flex-center;
       //@include margin(0, 0, 0, -12px);
    }
        
    
        
    .iconcolor{
          color: $dark-grey;
    }
}  
.iconshopcolor{
        color: $primary;
}
.sectionrestaurants{
    @include margin(80px, 0, 0, 0);
    background-color: $neutral-grey;
    width: 100%;
    height: 1800px;
    position:absolute;
    .titlerestaurants{
        @include margin(50px, 0, 0, 20px);   
        position: relative;
    }
    
}
.articlesectionrestaurants{
    @include margin(30px, 20px, 0, 20px);
    height: 375px;
    background-color: $back-white;
    border-radius: 25px;
    @include box-shadow ($grey);
    
    .margintextarticlerestaurant{
    @include margin(20px, 0, 0, 20px);
    }
    .marginiconarticlerestaurant{
    @include margin(15px, 40px, 0, 0);
    }
    .marginparagraphearticlerestaurant{
    @include margin(5px, 0, 0, 0);
    }

}

.test1{
    visibility: visible;
    color: $back-black;
    @include margin(0, -35px, 0, 0);
}
.test1:hover{
    color: $back-white;
}
.test2{
    visibility: hidden;
    font-size: 150px;
    color: $primary;
    
}
.test2:hover{
    visibility: visible;
    color: $primary;
    position: absolute;
}
.newrestaurant{
    height: 40px;
    width: 100px;
    background-color: $tertiary;
    @extend %flex-center;
    color: $light-green;
    position: relative;
    @include margin (20px, 20px, 0, 0); 
}
.positionnew{
    @extend %flex-end;
    
}


.picturesrestaurants{
    background-size: cover;
    background-position: 50% 60%;
    width: 100%;
    height: 270px;
    border-radius: 25px 25px 0 0;
}
.firstpicturerestaurants{
    background-image: url(./img/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.secondtpicturerestaurants{
    background-image: url(./img/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.thirdtpicturerestaurants{
    background-image: url(./img/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.fourthpicturerestaurants{
    background-image:url(./img/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.textx_large{
    font-size: x-large;
}
.footer{
    @include margin (1870px, 0, 0, 0);
    height: 280px;
    width: 100%;
    position: absolute;
    background-color: $back-black;
    color: $txt-font-sombre;
        .titlefooter{
            @include margin(30px, 0, 30px, 30px)
        }
}
.textfooter{
    @extend %flex-start;
    @include margin (10px, 0, 5px, 30px);
}
.iconfooter{
    @include margin (0, 15px , 0, 0);
    @extend %flex-start;
}
//articles//
.picturesarticles{
    background-size: cover;
    background-position: center;
    height: 500px;
}
.alafrancaise{
        background-image: url(./img/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
//section page restaurants//
.sectionpagerestaurants{
    width: 100%;
    height: 1500px;
    background-color: $neutral-grey;
    border-radius: 100px 100px 0 0;
    @include margin (-100px, 0, 0, 0);
    .titlepage{
        font-size: 35px;
        @include margin(50px, 0, 0, 40px);

    }
    .iconepagerestaurants{
        @include margin (50px, 70px, 0, 0);
    }
}
.textunderline{
    height: 30px;
    border-bottom: 3px solid $tertiary;
    
}
.margintextarticlerestaurants{
    font-size: 25px;
    @include margin (40px, 0, 20px, 40px);
}
.deletedifferenceheight{
    @include margin (-10px, 0, 0, 0);
}
.boxsectionrestaurants{
    background-color: $back-white;
    height: 100px;
    width: 90%;
    border-radius: 25px ;
    @include margin(30px, 30px, 0 ,30px);
    @include box-shadow($grey);
    .textbox{
        @include margin (0, 20px, 0, 20px);
        @include padding(15px, 0, 0, 0);
    }
}

