@media screen and (min-width:1050px){
    .header{
        
        .header__logo{
            width: auto;
            background-color: $grey;
        }
        .header__size{
            @include margin(20px, 40px, 20px, 40px);
            background:linear-gradient($grey, $grey);
           
        }
        
    }
    .headerdisplay{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
    }
    
    
}