@keyframes appearance{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.app1{
    animation-delay: 0;
}
.app2{
    animation-delay: .3s;
    
}
.app3{
    animation-delay: .6s;
}
.app4{
    animation-delay: .9s;
}
.app5{
    animation-delay: 1.2s;
}
.app6{
    animation-delay: 1.5s;
}
.app7{
    animation-delay: 1.8s;
}
.app8{
    animation-delay: 2.1s;
}
.app9{
    animation-delay: 2.4s;
}
.app10{
    animation-delay: 2.7s;
}
