
.fa-heart {
    color: black;
    cursor: pointer;
    &:hover {
      animation: backwards 0.3s ease-in-out;
      display: inline-block;
      opacity: 1;
      background:linear-gradient(to top, $secondary ,$primary);
      -webkit-background-clip: text;
      -webkit-text-fill-color:transparent;
      font-weight: bold;
      animation: 2s botttt  forwards;
    }
    
}
@keyframes botttt {
  from{
    opacity: 0.1;
      
  }
  
 to{
    opacity: 1;
    
  }
}


