
@keyframes ready{
    from{
        width: 0%;
    }
 
    to{
        width: 18%; 
    }
}
@keyframes ready_responsive{
    from{
        width: 0px;
    }
 
    to{
        width: 150px; 
    }
}
@keyframes ready_reverse{
    from{
        width:18% 
    }
    to{
        width: 0%;
    }
}

@keyframes icon_yes {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

.fa-check-circle{
    font-size: 0px;
}

@keyframes rota{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
        
    
}













